@page "/Table"
<h3>Table</h3>

<table class="table table-bordered" style="width: 50%; margin: 0 auto;">
    <tr>
        <th>X</th>
        @for(int i = 1; i <= 10; i++)
        {
            <th>@i</th>
        }
    </tr>
    @for(int i = 1; i <= 10; i ++)
    {
        <tr>
            <td>@i</td>
            @for(int k = 1; k <= 10; k++)
            {
                <td>@(i * k)</td>
            }
        </tr>
    }
</table>
@code {

}
